# Configuration for GFS data ingestion
share:
  exp_code: "GFS_Ingest"
  data_path: ${DATA_PATH}
  time_control:
    start: "2024-09-30_00:00"
    end: "2024-09-30_00:00"
    format: "%Y-%m-%d_%H:%M"
    base_step_hours: 6
  io_control:
    base_dir: "/wk2/yaochu/DLAMP_model/DLAMP.data/"
    netcdf_subdir: "./ncdb/Pool"
    prefix:
      output: "gfs_rw"
      timestr_fmt: "%Y%m%d_%H%M"

data_source:
  name: "gfs"
  source: "aws"
  cache: true
  variables:
    - "u10m"
    - "v10m"
    - "u100m"
    - "v100m"
    - "t2m"
    - "sp"
    - "msl"
    - "tcwv"
    - "u50"
    - "u100"
    - "u150"
    - "u200"
    - "u250"
    - "u300"
    - "u400"
    - "u500"
    - "u600"
    - "u700"
    - "u850"
    - "u925"
    - "u1000"
    - "v50"
    - "v100"
    - "v150"
    - "v200"
    - "v250"
    - "v300"
    - "v400"
    - "v500"
    - "v600"
    - "v700"
    - "v850"
    - "v925"
    - "v1000"
    - "t50"
    - "t100"
    - "t150"
    - "t200"
    - "t250"
    - "t300"
    - "t400"
    - "t500"
    - "t600"
    - "t700"
    - "t850"
    - "t925"
    - "t1000"
    - "z50"
    - "z100"
    - "z150"
    - "z200"
    - "z250"
    - "z300"
    - "z400"
    - "z500"
    - "z600"
    - "z700"
    - "z850"
    - "z925"
    - "z1000"
    - "q50"
    - "q100"
    - "q150"
    - "q200"
    - "q250"
    - "q300"
    - "q400"
    - "q500"
    - "q600"
    - "q700"
    - "q850"
    - "q925"
    - "q1000"
  # earth2studio.data.GFS arguments will go here
  # For example:
  # resolution: "0.25" 
  # variables: [...]

regrid:
  target_nc: "./assets/target.nc"
  target_lat: "XLAT"
  target_lon: "XLONG"
  # GFS data might have different source coordinate names
  source_lat: "lat" 
  source_lon: "lon"

registry:
  source_dataset: "GFS"
  varname:
    z_p:
      requires: ["z50", "z100", "z150", "z200"]
      function: diag_z_p



    tk_p:
    umet_p:
    vmet_p:
    - wa_p:
    - QVAPOR_p:
    - QTOTAL_p:
    - T2:
    - umet10:
    - vmet10:
    - umet100:
    - vmet100:
    - Q2:
    - SST:
    - PSFC:
    - SLP:
    - SWDOWN:
    - OLR:


