# Configuration for SFNO model forecast
share:
  exp_code: "SFNO_GFS_Forecast"
  time_control:
    start: "2024-09-30_00:00"
    format: "%Y-%m-%d_%H:%M"
    forecast_steps: 20 # Number of 6-hour steps
    forecast_step_hours: 6
  io_control:
    base_dir: "/wk2/yaochu/DLAMP_model/DLAMP.data/"
    netcdf_subdir: "./ncdb/sfno_forecast"
    prefix:
      output: "sfno_rw"
      timestr_fmt: "%Y%m%d_%H%M"

initial_condition:
  # Configuration for fetching the initial state for the forecast
  # This will point to a GFS ingestion config or have its own data source definition
  config: "config/gfs.yaml"

model:
  name: "sfno"
  # earth2studio.models.sfno.SFNO arguments
  # For example:
  # model_name: "sfno_73ch"
  input_variables:
    # List of the 73 channel variables required by SFNO
    # This list will be used to transform the initial condition dataset
    # into the required DataArray format.
    - "u10m"
    - "v10m"
    - "u100m"
    - "v100m"
    - "t2m"
    - "sp"
    - "msl"
    - "tcwv"
    - "u50"
    - "u100"
    - "u150"
    - "u200"
    - "u250"
    - "u300"
    - "u400"
    - "u500"
    - "u600"
    - "u700"
    - "u850"
    - "u925"
    - "u1000"
    - "v50"
    - "v100"
    - "v150"
    - "v200"
    - "v250"
    - "v300"
    - "v400"
    - "v500"
    - "v600"
    - "v700"
    - "v850"
    - "v925"
    - "v1000"
    - "t50"
    - "t100"
    - "t150"
    - "t200"
    - "t250"
    - "t300"
    - "t400"
    - "t500"
    - "t600"
    - "t700"
    - "t850"
    - "t925"
    - "t1000"
    - "z50"
    - "z100"
    - "z150"
    - "z200"
    - "z250"
    - "z300"
    - "z400"
    - "z500"
    - "z600"
    - "z700"
    - "z850"
    - "z925"
    - "z1000"
    - "q50"
    - "q100"
    - "q150"
    - "q200"
    - "q250"
    - "q300"
    - "q400"
    - "q500"
    - "q600"
    - "q700"
    - "q850"
    - "q925"
    - "q1000"

regrid:
  # Regridding settings for the model output before diagnostics
  target_nc: "./assets/target.nc"
  target_lat: "XLAT"
  target_lon: "XLONG"

registry:
  # Defines how to convert the model's output variables into RWRF format
  source_dataset: "SFNO"
  # Variable mappings...
